<section class="container">
  <div class="input_section">
    <div class="left_section">
      <nz-input-group nzSearch>
        <input type="text" nz-input placeholder="input search text" [formControl]="searchValue" />
      </nz-input-group>
      <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
      <!-- <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search" (click)="search()"></span></button>
      </ng-template> -->
      <button nz-button nzSize="default" (click)="search()">Search</button>
      <button nz-button nzSize="default" (click)="reset()">Reset</button>
    </div>
    <div class="right_section">
      <button nz-button nzSize="default" (click)="generatePdf()">Pdf</button>
      <button nz-button nzSize="default" (click)="generateCsv()">Csv</button>
    </div>
  </div>
  <nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed" [nzFrontPagination]="false" [nzLoading]="loading"
    [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th *ngFor="let column of listOfColumn" [nzColumnKey]="column.name" [nzSortFn]="column.compare" nzCustomFilter>
          {{ column.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of sortTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.job_title }}</td>
        <td>{{ data.department }}</td>
        <td>{{ data.start_date }}</td>
        <td>{{ data.end_date }}</td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
</section>

<router-outlet></router-outlet>